<div class="main-wrap">
  <!-- <app-drag orientation="vertical" [elementCount]="3" [config]="configs">
    <app-drag-item [label]="editors[0].label"> -->
  <div id="sidebar">sidebar</div>
  <!-- </app-drag-item> -->
  <!-- <app-drag-item [label]="editors[1].label" class="edit"> -->
  <app-edit id="edit"></app-edit>
  <!-- </app-drag-item> -->
  <!-- <app-drag-item [label]="editors[2].label"> -->
  <div id="output">
    <div class="preview">preview</div>
    <div class="console">console</div>
  </div>
  <!-- </app-drag-item> -->
  <!-- </app-drag> -->
</div>
