<resizer-container class="row" direction="row">
  <resizer [isFirstElement]="true" [percentage]="10">
    <div id="sidebar">sidebar</div>
  </resizer>
  <resizer [percentage]="40">
    <app-edit id="edit"></app-edit>
  </resizer>
  <resizer [percentage]="50">
    <div id="output">
      <resizer-container class="col" direction="col">
        <resizer [isFirstElement]="true" [percentage]="70">
          <app-preview class="preview"></app-preview>
        </resizer>
        <resizer [percentage]="30">
          <app-terminal class="console"></app-terminal>
        </resizer>
      </resizer-container>
    </div>
  </resizer>
</resizer-container>
