<resizer-container class="row" direction="row">
  <resizer [isFirstElement]="true" [percentage]="20">
    <app-sidebar id="sidebar">sidebar</app-sidebar>
  </resizer>
  <resizer [percentage]="15">
    <app-edit id="edit"></app-edit>
  </resizer>
  <resizer [percentage]="65">
    <div id="output">
      <resizer-container class="col" direction="col">
        <resizer [isFirstElement]="true" [percentage]="90">
          <app-preview class="preview"></app-preview>
        </resizer>
        <resizer [percentage]="10">
          <app-terminal class="console"></app-terminal>
        </resizer>
      </resizer-container>
    </div>
  </resizer>
</resizer-container>
