:host {
  height: 100%;
  flex: 1;
  display: flex;
  position: relative;

  #sidebar,
  #edit,
  #output {
    height: 100%;
    overflow: auto;
    flex-grow: 1;
  }

  #sidebar {
    position: relative;
    background-color: #5c1919;
  }

  #edit {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
  }

  #output {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: palevioletred;
    .preview {
      background-color: blue;
    }
    .console {
      border-color: yellowgreen;
    }
  }
}
