$header-height: 40px;
:host {
  height: calc(100vh - $header-height);
  flex: 1;
  display: flex;
  position: relative;
  border-bottom: 2px solid #fff;

  #sidebar,
  #edit,
  #output {
    height: 100%;
    overflow: auto;
    flex-grow: 1;
  }

  #sidebar {
    position: relative;
  }

  #edit {
    height: 100%;
  }

  #output {
    flex: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}
