<div class="top">
  <div class="tabs">
    @for(tab of editService.openedTabs(); track tab.filePath) {
    <div class="tab-item" (click)="selectTab(tab)" [class.active]="tab.active">
      <div class="text">
        {{ tab.name }}
      </div>
      @if(tab.isPendingWrite) {
      <div class="pending">
        <div class="dot"></div>
      </div>

      }@else {
      <div class="close" (click)="closeTab(tab, $event)">&#x2715;</div>
      }
    </div>
    }
  </div>
</div>
<app-monaco-editor class="bottom" [options]="options"></app-monaco-editor>
