:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top {
  border: 1px solid #fff;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tabs {
    display: flex;
    height: 30px;
    align-items: center;
    overflow: hidden;
    background-color: var(--sb-page-background);
    .tab-item {
      user-select: none;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: var(--tab-inactiveBackground);
      color: var(--sb-foreground-alt);
      flex-shrink: 0;
      font-size: 13px;
      font-weight: 400;

      padding: 0;
      padding-inline-end: 4px;
      padding-inline-start: 10px;
      cursor: pointer;

      &.active {
        background-color: var(--tab-activeBackground);
      }
      .text {
        min-width: 60px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .close,
      .pending {
        width: 20px;
        padding: 2px;
        text-align: center;
        cursor: pointer;
      }
      .pending {
        display: flex;
        align-items: center;
        justify-content: center;
        .dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #fff;
        }
      }
    }
  }
  .open-preview {
    cursor: pointer;
    margin-left: 4px;
    width: 26px;
    transform: rotate(180deg);
    flex-grow: 0;
    flex-shrink: 0;
  }
}
.bottom {
  flex: 1;
  position: relative;
}
