:host {
  background-color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  background-color: var(--sb-page-background);
  height: 30px;
  .refresh-icon {
    display: flex;
    align-items: center;
    .icon {
      margin-right: 4px;
      &.loading {
        animation: spin 1s linear infinite;
        transform-origin: center;
      }
    }
  }

  .url-bar {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #555;
    color: #fff;
    padding: 0 10px;
    border-radius: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--sb-foreground-alt);
    font-size: 13px;
    font-weight: 400;
  }

  .external-link,
  .close-preview {
    margin-left: 4px;
  }
}

#preview-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-user-drag: none;
}

.preview-iframe {
  outline: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;

  .loading-container-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 500px;
    .loading-title {
      width: 100%;
      position: absolute;
      bottom: 100%;
      text-align: center;
    }
    .progress-bar {
      max-width: 220px;
    }
    .loading-steps {
      .loading-step {
        line-height: 40px;
        display: flex;
        align-self: center;
      }
      .loding-checkbox {
      }
      .loading-icon-wrap {
        margin-left: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        .loading-icon {
          display: block;
          animation: spin 1s linear infinite;
        }
      }
      .loading-text {
        margin-left: 11px;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  visibility: hidden;
}
