<header class="header-wrap">
  <div class="left" tabindex="0" (click)="goHome()" (keyup)="goHome()">
    <img class="logo" [src]="logoPath" alt="logo" />
    <span class="name"> Code Studio </span>
  </div>
  <div class="middle">
    <input
      class="project-name"
      [value]="projectName()"
      (input)="handleProjectNameInput($event)"
      placeholder="Enter Project Name"
    />
  </div>
  <div class="right">
    <!-- <button mat-button class="template" (click)="openTemplateModal()">
      <mat-icon class="icon">add</mat-icon>
      <div class="text">Template</div>
    </button> -->
    <div class="save" [class]="{ loading: isSaving() }">
      <mat-spinner diameter="20" class="spinner"></mat-spinner>
      <button mat-button (click)="saveToGist()" class="save-btn">
        <mat-icon class="icon">save</mat-icon>
        <div class="text">Save</div>
      </button>
    </div>
    <a target="_blank" href="https://github.com/chenxiaoyao6228/CodeStudio" class="github">
      <img class="logo" [src]="githubLogoPath" alt="logo" />
    </a>
  </div>
</header>
