<h2 mat-dialog-title class="title">
  Choose a template
  <mat-dialog-actions>
    <button mat-button (click)="closeModal()" class="close">X</button>
  </mat-dialog-actions>
</h2>
<mat-dialog-content>
  <div class="template-list">
    @for(item of templateList(); track item.icon) {
    <div class="template-item" (click)="selectTemplate(item)">
      <div
        class="icon"
        [style.backgroundImage]="'url(' + item.icon + ')'"
      ></div>
      <div class="name">{{ item.name }}</div>
    </div>

    }
  </div>
</mat-dialog-content>
