.title {
  display: flex;
  align-items: center;
}
.mat-mdc-dialog-content {
  .template-list {
    overflow: auto;

    .template-item {
      width: 160px;
      height: 70px;
      display: flex;
      align-items: center;
      float: left;
      margin-right: 10px;
      margin-bottom: 20px;
      cursor: pointer;
      transition: all 0.3s;
      border-radius: 4px;
      &:hover {
        background-color: rgba(36, 36, 36, 0.1);
        border: 1px solid #fff;
      }

      .icon {
        width: 60px;
        height: 60px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 10px;
      }
      .wrap {
        margin-left: 20px;
        .name {
          overflow: hidden;
          font-weight: bold;
          font-size: 18px;
        }
        .desc {
          overflow: hidden;
          font-weight: 400;
          font-size: 85%;
          text-overflow: ellipsis;
          white-space: nowrap;
          opacity: 0.65;
        }
      }
    }
  }
}
.mat-mdc-dialog-actions {
  position: absolute;
  right: 0;
  .close {
    &:hover {
      cursor: pointer;
    }
  }
}
