<h1 mat-dialog-title>Enter GitHub URL</h1>
<form #githubUrlForm="ngForm">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>GitHub URL</mat-label>
      <input
        matInput
        [(ngModel)]="githubUrl"
        name="githubUrl"
        placeholder="Enter your GitHub repository URL"
        required
        #githubUrlInput="ngModel"
      />
      @if(githubUrlInput.invalid && githubUrlInput.touched) {
      <mat-error> A Valid GitHub URL is required </mat-error>
      }
    </mat-form-field>
    <p>
      Please enter the URL of your GitHub repository or
      <b>a sub folder of a repo</b> to import your project. Make sure the
      repository is public and have a <b>package.json</b> file in the root
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button
      mat-button
      [disabled]="githubUrlForm.invalid"
      (click)="onSave()"
      cdkFocusInitial
    >
      Save
    </button>
  </div>
</form>
