@if (simple) {
  <span class="desc">
    @if (isObject(data)) {
      Object({{ objectKeys(data.value).length }})
    }
    @if (isArray(data)) {
      Array({{ data.value.length }})
    }
    @if (isSet(data)) {
      Set({{ data.value.length }})
    }
    @if (isMap(data)) {
      Map({{ data.value.length }})
    }
  </span>
} @else {
  <div class="compound">
    <!-- head -->
    <button class="reset-btn header" (click)="toggleExpand($event)">
      <mat-icon class="icon" [class.arrayIndex]="arrayIndex !== undefined" [class.expanded]="expanded()"
        >chevron_right</mat-icon
      >
      <span class="desc">
        @if (isSet(data)) {
          Set({{ data.value.length }})
        }
        @if (isMap(data)) {
          Map({{ data.value.length }})
        }
        @if (isArray(data)) {
          Array({{ data.value.length }})
        }
        @if (isObject(data)) {
          Object({{ objectKeys(data.value).length }})
        }
      </span>
      <span class="child-desc">
        <!---------------- array -------------------------->
        @if (isArray(data)) {
          [
          @for (subData of data.value; track $index) {
            @if (isCompound(subData.value)) {
              <span style="display: inline-flex">
                <app-compound-obj-renderer [data]="subData" [simple]="true"></app-compound-obj-renderer>
              </span>
            } @else {
              <app-primitive-renderer [data]="subData"></app-primitive-renderer>
            }
            <!-- join array with , -->
            @if ($index !== $count - 1) {
              ,
            }
          }
          ]
        }
        <!--------------------- object ----------------->
        @if (isObject(data)) {
          @for (key of objectKeys(data.value); track key) {
            @if (isCompound(data.value[key].value)) {
              <span style="display: inline-flex">
                <app-compound-obj-renderer [data]="data.value[key]" [simple]="true"></app-compound-obj-renderer>
              </span>
            } @else {
              <app-primitive-renderer [data]="data.value[key]"></app-primitive-renderer>
            }
            <!-- join array with , -->
            @if ($index !== $count - 1) {
              ,
            }
          }
        }
        <!--------------------- set ----------------->
        @if (isSet(data)) {
          [
          @for (subData of data.value; track subData) {
            @if (isCompound(subData.value)) {
              <span style="display: inline-flex">
                <app-compound-obj-renderer [data]="subData" [simple]="true"></app-compound-obj-renderer>
              </span>
            } @else {
              <app-primitive-renderer [data]="subData"></app-primitive-renderer>
            }
            <!-- join set with , -->
            @if ($index !== $count - 1) {
              ,
            }
          }
          ]
        }
        <!--------------------- map ----------------->
        @if (isMap(data)) {
          <span>{{ '{ ' }}</span>
          @for (entry of data.value; track entry[0]) {
            <strong>{{ entry[0] }}:</strong>
            @if (isCompound(entry[1].value)) {
              <span style="display: inline-flex">
                <app-compound-obj-renderer [data]="entry[1]" [simple]="true"></app-compound-obj-renderer>
              </span>
            } @else {
              <app-primitive-renderer [data]="entry[1]"></app-primitive-renderer>
            }
            <!-- join map with , -->
            @if ($index !== $count - 1) {
              ,
            }
          }
          <span>{{ ' }' }}</span>
        }
      </span>
    </button>
    <!-- expanded children -->
    @if (expanded()) {
      <div class="content">
        <!---------------------------- array -------------------->
        @if (isArray(data)) {
          @for (subData of data.value; track $index) {
            <div style="display: flex">
              <!-- index -->
              <span style="margin-top: 2px"> {{ $index }} : &nbsp; </span>
              <!-- value -->
              @if (isCompound(subData.value)) {
                <app-compound-obj-renderer [data]="subData" [arrayIndex]="$index"></app-compound-obj-renderer>
              } @else {
                <app-primitive-renderer [data]="subData"></app-primitive-renderer>
              }
            </div>
          }
        }

        <!-------------- object ------------------>
        @if (isObject(data)) {
          @for (key of objectKeys(data.value); track key) {
            <div style="display: flex">
              <!-- index -->
              <span style="margin-top: 2px"> {{ key }} : &nbsp; </span>
              <!-- value -->
              @if (isCompound(data.value[key].value)) {
                <app-compound-obj-renderer [data]="data.value[key]" [arrayIndex]="$index"></app-compound-obj-renderer>
              } @else {
                <app-primitive-renderer [data]="data.value[key]"></app-primitive-renderer>
              }
            </div>
          }
        }

        <!-------------- set ------------------>
        @if (isSet(data)) {
          @for (subData of data.value; track subData) {
            <div style="display: flex">
              <!-- index -->
              <span style="margin-top: 2px"> {{ $index }} : &nbsp; </span>
              <!-- value -->
              @if (isCompound(subData.value)) {
                <app-compound-obj-renderer [data]="subData" [arrayIndex]="$index"></app-compound-obj-renderer>
              } @else {
                <app-primitive-renderer [data]="subData"></app-primitive-renderer>
              }
            </div>
          }
        }

        <!-------------- map ------------------>
        @if (isMap(data)) {
          @for (entry of data.value; track entry[0]) {
            <div style="display: flex">
              <!-- index -->
              <span style="margin-top: 2px"> {{ entry[0] }} : &nbsp; </span>
              <!-- value -->
              @if (isCompound(entry[1].value)) {
                <app-compound-obj-renderer [data]="entry[1]" [arrayIndex]="$index"></app-compound-obj-renderer>
              } @else {
                <app-primitive-renderer [data]="entry[1]"></app-primitive-renderer>
              }
            </div>
          }
        }
      </div>
    }
  </div>
}
