<div class="controls">
  <div class="left">
    <span class="title">Console</span>
  </div>
  <div class="right">
    <mat-icon
      class="common-icon clear-btn"
      (click)="consoleService.clearConsole()"
      >delete</mat-icon
    >
    <mat-icon class="common-icon toggle-btn" (click)="toggleConsole()">{{
      mainService.isConsoleOpen() ? "expand_less" : "expand_more"
    }}</mat-icon>
  </div>
</div>
<div class="console-wrap">
  <div class="console-entries">
    @for(message of consoleService.controlMessages(); track message.content) {
    <div class="console-item" [ngClass]="getItemType(message.method)">
      <i class="icon"></i>
      {{ message.content }}
    </div>
    }
  </div>
</div>
<div class="command-line">
  <mat-icon class="common-icon icon">navigate_next</mat-icon>
  <textarea
    class="input"
    rows="1"
    (keydown.enter)="consoleService.executeCommand($event)"
  ></textarea>
</div>
