:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  --bg-warn: #fef6d5;
  --bg-error: #faaaa3;
}

.controls {
  border-bottom: 1px solid #fff;
  padding: 0 4px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left {
    .title {
      font-size: 13px;
    }
  }
  .right {
    display: flex;
    align-items: center;
    .clear-btn {
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
    .toggle-btn {
    }
  }
}

.command-line {
  display: flex;
  align-items: center;
  height: 24px;
  .icon {
  }
  .input {
    flex: 1;
    outline: none;
    border: none;
    resize: none;
  }
}

.console-wrap {
  flex: 1;
  .console-entries {
  }
  .console-item {
    padding: 0 6px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    display: flex;
    align-items: center;

    .icon {
      width: 10px;
      height: 18px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      display: inline-block;
      margin-right: 6px;
      & + .console-value {
        margin-left: 0;
      }
    }
    .badge {
    }
    .value {
    }
    &.info {
    }
    &.warn {
      background-color: var(--bg-warn);
      border-color: var(--bg-warn);
      color: #000;
      .icon {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACkSURBVChTbY7BCoJQFERn0Q/3BX1JuxQjsSCXiV8gtCgxhCIrKIRIqKDVzXl5w5cNHBjm6eGinXiAXu5inY2xYm/mbpIh+vcFhLA3sx0athNUhymEsP+10lAEEA17x8o/9wFuNGnYuVlWve0SQl7P0sBu3aq2R1Q/1JzSkYGd29eqNv2wjdnUuvNRciC/N+qe+7gidbA8zyHkOINsvA/sumcOkjcabcBmw2+mMgAAAABJRU5ErkJggg==");
      }
    }
    &.debug {
    }
    &.error {
      background-color: var(--bg-error);
      border-color: var(--bg-error);
      color: #000;
      .icon {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADESURBVChTY4CB7ZI8tmfU5E6e01b+DMIgNkgMKg0BR9Vkux6YWPx/bemIgkFiIDmwogOaqrYPzazAEm8DwuGKYGyQHEgNw0VT05Mwib9v3v7/kJEHxiA2TDFIDcNNU4vPMFPACj58/P/v40cwGyYOUsNwy8IZRSFIEUgxskKQGoZrzp4ErQapYbgYHG371M4dLACTQGaD5EBqwD6/FpzQ9dTBE64IhkFiIDmwIhi4mlJqey8o4eR9r8jPIAxig8QgsgwMAFZz1YtGPXgjAAAAAElFTkSuQmCC");
      }
    }
  }
}
