:host {
  height: 1px;
  background-color: #fff;
}
.footer-wrap {
  display: none; // remove footer
  // display: flex;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid #fff;
  .assets {
    height: 30px;
  }
}
