/* You can add global styles to this file, and also import other style files */

// ================= variables ===========================

:root {
  --primary-color: #1e1a1d;
  --primary-text-color: #e9e0e4;
}

html,
body {
  height: 100%;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
