<app-home-header></app-home-header>
<div class="create-project">
  @for(operation of operations; let i = $index; track operation.title) {
  <div
    class="item-wrap"
    (click)="operation.action()"
    (keydown.enter)="operation.action()"
    (keydown.space)="operation.action()"
    tabindex="0"
  >
    <div class="item template">
      <div class="content-wrap">
        <mat-icon>{{ operation.icon }}</mat-icon>
        <div class="content">
          <div class="title">{{ operation.title }}</div>
          <div class="desc">{{ operation.desc }}</div>
        </div>
      </div>
      <div class="img-wrap">
        <div class="img {{ operation.imgClass }}"></div>
      </div>
      @if(loadingIndex() === i) {
      <div class="loading">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </div>
      }
    </div>
  </div>
  }
</div>

<div class="recent-projects">
  <h2>Recent projects</h2>
  <div class="table-wrap">
    @if(dataSource.data.length > 0) {
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let project">{{ project.title }}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let project">{{ project.description }}</td>
      </ng-container>

      <!-- Updated Column -->
      <ng-container matColumnDef="updated">
        <th mat-header-cell *matHeaderCellDef>Updated</th>
        <td mat-cell *matCellDef="let project">{{ project.updated }}</td>
      </ng-container>

      <!-- Operation Column -->
      <ng-container matColumnDef="operation">
        <th mat-header-cell *matHeaderCellDef>Operation</th>
        <td mat-cell *matCellDef="let project">
          <button mat-button (click)="editProject(project)">Edit</button>
          <button mat-button (click)="deleteProject(project)">Delete</button>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="dataSource.data.length"
      [pageSize]="100"
      showFirstLastButtons
    ></mat-paginator>
    }@else {
    <div class="empty">
      <div class="wrap">
        <div class="img"></div>
        <div class="title">No data from Gist found</div>
        <div class="desc">
          if you haven't setup Gist Storage yet, please
          <button class="link-btn" (click)="openTokenModal()">
            click here
          </button>
          and provide token
        </div>
      </div>
    </div>
    } @if(loading()) {
    <div class="loading">
      <mat-progress-spinner color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </div>
    }
  </div>
</div>
